// .homeImage {
  

  .containerImage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    margin-bottom: 100px;
    margin-top: -100px;
    z-index: -2;
    position: relative;

  .containerHome {

      .logo {
          display: flex;
          position: absolute;
          // margin-left: 50px;
          width: 750px;
      }

      .shoe {
          position: relative;
          width: 750px;
          animation: wiggle 5s ease infinite;
      }
  }

  .shadow {
      margin-top: -100px;
      transform: translateX(-50%);
      width: 400px;
      height: 50px;
      animation: shadow-pulse 5s ease infinite;
  }

  .logo,
  .shoe {
      width: 100%;
  }

  @keyframes wiggle {
      0% {
          transform: rotate(-5deg);
      }
      50% {
          transform: rotate(5deg);
      }
      100% {
          transform: rotate(-5deg);
      }
  }

  @keyframes shadow-pulse {
      0% {
          transform: scale(0.8);
      }
      50% {
          transform: scale(1);
      }
      100% {
          transform: scale(0.8);
      }
  }

  @media (max-width: 480px) {
    margin-top: 50px;
    margin-bottom: 240px; /* Grotere margin-bottom voor schermen van maximaal 480px */


      .containerHome .logo {
          width: 100%;
          margin-left: 0;
      }

      .containerHome .shoe {
          width: 100%;
          margin-bottom: 100px;
      }

      .containerHome .shadow {
          margin-top: 10;
          margin-left: 0;
      }
  }

  @media (min-width: 481px) and (max-width: 768px) {
      .containerHome .logo {
          width: 100%;
          // margin-left: 0;
      }

      .containerHome .shoe {
          width: 100%;
      }

  }
}

.iconArrowDown {
    display: flex;
    justify-content: center;
    font-size: 40px;
    animation: arrowBounce 2s infinite;
    opacity: 1;
    transition: opacity 2s; /* Voeg een overgang toe voor een vloeiende verandering van de opacity */

    @keyframes arrowBounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
          }
          40% {
            transform: translateY(-10px);
          }
          60% {
            transform: translateY(-5px);
          }
    }

    /* Voeg een nieuwe regel toe om de opacity te wijzigen naar 0 als de pijl moet verdwijnen */
    &.hidden {
        opacity: 0;
    }
}