@import 'variables';

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 8px;
    color: $color-white;
    height: 100px;
    padding: 20px;
    box-shadow: $shadow;

    .footerSocials{
        display: flex;
        font-size: 25px;
        margin-right: 70px;

        .insta, .youtube, .tiktok{
            margin-right: 10px;
    
            &:hover{
                color: black;
            }
        }
    }

@media (max-width: 480px) {
    font-size: 12px; // Adjusted font size for small screens (e.g., mobile)
    .footerSocials{
        font-size: 12px;
    }
  }

  @media (min-width: 481px) and (max-width: 768px) {
    font-size: 12px; // Adjusted font size for medium-sized screens (e.g., tablets)
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    font-size: 12px; // Adjusted font size for larger screens (e.g., small laptops)
  }

  @media (min-width: 1025px) and (max-width: 1200px) {
    font-size: 12px; // Adjusted font size for high-resolution screens
  }

  @media (min-width: 1201px) {
    font-size: 12px; // Adjusted font size for ultra-high-resolution screens
  }
}