@import 'variables';

.navBar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    box-shadow: $shadow;
    transition: top 0.3s; 

    .leftSideNav{
        display: flex;
        align-items: center;
        margin-left: 20px;
    }

    .midSecNav {
        position: absolute; 
        left: 48%; 
        transform: translateX(-50%);
        top: 58%;
        transform: translateY(-50%); 
    }

    .rightSecNav {
        margin-top: 5px;
        z-index: 20;
    }

    .menuItems {
        ul {
          display: flex;
          align-items: center;
          flex-direction: row;
          color: white;
          cursor: pointer;
      
          li {
            font-size: 15px;
            font-weight: 600;
            list-style: none;
            padding-right: 10px;
      
            a {
              text-decoration: none; /* Verwijder onderstreping van de links */
              color: inherit; /* Gebruik de kleur van de bovenliggende elementen */
            }
          }
        }
      }
    
    @media (max-width: 480px) {
      .midSecNav{
        left: 43.5%; 

      }
      }
    
      // Media Query for Medium Screens (min-width: 481px) and (max-width: 768px)
      @media (min-width: 481px) and (max-width: 768px) {
        .midSecNav{
          margin-left: auto; 
          margin-right: auto;
        }
      }
    
      @media (max-width: 580px) {
      }
    
      // Media Query for Large Screens (min-width: 769px) and (max-width: 1024px)
      @media (min-width: 769px) and (max-width: 1024px) {
      }
    
      // Media Query for Extra Large Screens (min-width: 1025px) and (max-width: 1200px)
      @media (min-width: 1025px) and (max-width: 1200px) {
      }
    
      // Media Query for Ultra High-Resolution Screens (min-width: 1201px)
      @media (min-width: 1201px) {
      }
}

