.containerModel1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .model1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 440px;
    transform: translate(-10000px);
  }
  
  .model2 {
    display: flex;
    margin-top: 300px;
    margin-left: 50px;
    width: 260px;
    transform: translate(-10000px);
  }
  
  .model3 {
    display: flex;
    margin-top: 400px;
    margin-right: 80px;
    width: 220px;
    transform: translate(-10000px);
  }
  
  .model4 {
    display: flex;
    position: absolute;
    margin-bottom: 300px;
    margin-right: 600px;
    width: 180px;
    transform: translate(-10000px);
  }
  
  @keyframes slideIn1 {
    0% {
      opacity: 0;
      transform: translate(-100%, 100%) rotate(90deg);
    }
    100% {
      opacity: 1;
      transform: translateY(0) rotate(0);
    }
  }

  @keyframes slideIn2 {
    0% {
      opacity: 0;
      transform: translate(-100%, -100%) rotate(90deg);
    }
    100% {
      opacity: 1;
      transform: translateY(0) rotate(0);
    }
  }

  @keyframes slideIn3 {
    0% {
      opacity: 0;
      transform: translate(100%, 100%) rotate(90deg);
    }
    100% {
      opacity: 1;
      transform: translateY(0) rotate(0);
      transform-origin: 0;

    }
  }

  @keyframes slideIn4 {
    0% {
      opacity: 0;
      transform: translate(100%, -100%) rotate(90deg);
    }
    100% {
      opacity: 1;
      transform: translateY(0) rotate(0);
      transform-origin: 0;

    }
  }
  
  .containerModel1.animate-image .model1 {
    animation: slideIn1 0.9s ease-in-out 0.5s forwards;
  }
  
  .containerModel1.animate-image .model2 {
    animation: slideIn2 1.5s ease-in-out 0.4s forwards;
  }
  
  .containerModel1.animate-image .model3 {
    animation: slideIn3 1.5s ease-in-out 0.5s forwards;
    transform-origin: bottom right;

  }
  
  .containerModel1.animate-image .model4 {
    animation: slideIn4 1s ease-in-out 0.3s forwards;
  }