.homeImage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .containerImage{
      z-index: -10000;
    }

    .containerHome{
        margin-top: -90px;
        margin-right: 100px;
        
        .logo{
            // color: black;
            position: absolute;
            // margin-top: 150px;
            margin-left: 50px;
            width: 750px;
        }

        .shoe {
            position: relative;
            width: 750px;
            animation: wiggle 5s ease infinite; /* 0.5s staat voor de duur van de animatie, ease voor het animatietype en infinite voor de oneindige herhaling */

            @keyframes wiggle {
                0% {
                  transform: rotate(-5deg); /* Beginpositie van de schudden */
                }
                50% {
                  transform: rotate(5deg); /* Eerste tussenliggende positie van de schudden */
                }
                100% {
                  transform: rotate(-5deg); /* Terug naar de beginpositie */
                }
              }
        }
    }

    .shadow{
        margin-top: -100px;
        margin-left: 220px;
        margin-bottom: 100px;
        transform: translateX(-50%);
        width: 400px; 
        height: 50px; 
        animation: shadow-pulse 5s ease infinite;
        
        @keyframes shadow-pulse {
            0% {
              transform: scale(0.8); 
            }
            50% {
              transform: scale(1); 
            }
            100% {
              transform: scale(0.8); 
            }
          }
    }

    @media only screen and (max-width: 768px) {
      .containerHome {
          margin-top: 0; 
          margin-right: 20px; 
      }

      .logo {
          width: 100%; 
          margin-left: 0; 
      }

      .shoe {
          width: 100%; 
      }

      .shadow {
          margin-top: 0; 
          margin-left: 0; 
      }
  }
}
