.contentFullshop {
  margin: 0;
}

.contentShop {
  margin: 0;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 39px;
  color: white;
  font-weight: bold;
}

.row {
  display: flex;
  flex-wrap: wrap; /* Zorgt ervoor dat items naar een nieuwe regel gaan als ze niet meer passen */
  justify-content: space-between; /* Verdeelt de ruimte tussen de kaarten */
  // margin-left: 0; /* Reset de linkermarge */
  // margin-right: 0; /* Reset de rechtermarge */
}